{{ define "title_success" -}}
✅ Successfully ran backup for tandoor mediafiles at {{ .Stats.StartTime | formatTime }}
{{- end }}

{{ define "title_failure" -}}
❌ Failure running docker-volume-backup for tandoor mediafiles at {{ .Stats.StartTime | formatTime }}
{{- end }}